<div class="container-fluid text-sm-center p-5 bg-dark">
    <div class="container">
        <form>
            <div class="row mt-4">
                <div class="col-lg-6 offset-1">
                    <input type="text" class="form-control form-control-lg"
                    name="imgs" placeholder="Ingresar Super heroe a buscar...">
                </div>
                <div class="col-lg-4">
                    <button type="submit" class="btn btn-primary btn-lg btn-block" routerLink = '/listar-superheroe'>BUSCAR</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col-lg-8 offset-2 heroes">
                <img src="../../../assets/img/SuperHeroes.png" alt="superheroes">
            </div>
        </div>
    </div>
</div>
