/* css de banner */

.carousel-caption {
  position: absolute;
  z-index: 1;
  display:table;
  width:100%;
  height:100%;
}

.absolute-div {
  position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.carousel-caption h3 {
  display:table-cell;
  vertical-align: middle;
  text-align:center;
}

.item {
  position:relative;
}

.pading-banner{
  padding-top: 10%;
}

.master-class{
  padding-top: 27%;
}

.interlineado-banner{
  margin-top: -30px;
}

.zoom-banner{
  color: #1C8C90; 
  font-weight: 700;
  font-size: 15px;
}
.zoom{
  margin-top: -20px;
}

.btn-banner{
  background-color: #1C8C90 !important;
  border-color: #1C8C90 !important;
  width: 40%;
  font-weight: 600;
}
.titulo-principl{
  color: white;
}
.parrafo-principal{
  color: white;
}

.titulo-maestro{
    font-weight: 600;
}

.carousel{
    background-color: rgb(235, 235, 235);
}

.fondo-s1{
    background-color: rgb(235, 235, 235);
}

.felchas {
    
    list-style-image: url("../../../assets/img/Flecha.png");
    line-height : 35px;
  }

  .card-header{
      border-radius: 5px;
      background-color: #1C8C90;
  }

  .card{
      border-radius: 5px;
  }

  .puntos{
    list-style: none;
padding: 0px;
margin-left: 10px;
  }
  .puntos span::before{
    content: "\2022";  
    color: #1C8C90; 
    display: inline-block; 
    padding-right: 25px;
    font-size: 50px;
    line-height: 25px;
    vertical-align: -11px;
    width: 15px;
  }

  .image-icon{
      text-align: center;
      margin: 4px;
  }

  .container{
    margin: 40px;
  }

  .section{
      padding: 45px;
  }

  /* css seccion formulario izquierdo */


  .vertical-i {
    list-style-image: url("../../../assets/img/vertical-line.png");
  }


  .div_contenedor {
	position: relative;
	padding-bottom: 56.25%; /*panorámico*/
	padding-top: 25px;
	height: 0;

    
}
.div_contenedor iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.marco-youtube {
  
    border-radius: 5px;
    box-shadow:  10px 10px 5px rgb(131, 131, 131);
    box-sizing: border-box;


}

.i1 {
    list-style-image: url("../../../assets/img/Estrategia.png");

  }

  .i2 {
    list-style-image: url("../../../assets/img/Tecnologia.png");

  }

  .i3 {
    list-style-image: url("../../../assets/img/Análisi-de-procesos.png");

  }

  .i4 {
    list-style-image: url("../../../assets/img/Hoja.png");

  }

  .i5 {
    list-style-image: url("../../../assets/img/Qué-hacer.png");

  }

  .interlineado{
    line-height : 35px;
  }

  .card-forma{
      border-radius: 25px;
  }

  .titulo-form{
      font-weight: 600;
      color: #1EBA88;
  }
  .boton-form{
      background-color: #1C8C90 !important;
      border-color: #1C8C90 !important;
  }
  .fondo-select{
      background-color: rgb(243, 243, 243);
  }



