<!-- Banner pirncipal  -->
<div class="carousel-inner carousel">
    <div class="item">
        <img src="../../../assets/img/Banner-principal.png" alt="...">
        <div class="absolute-div">
            <div class="carousel-caption">
                <div class="row pading-banner">
                    <div class="col-lg-8">
                        <h1 class="titulo-principal">¿Eres Director o Gerente de Empresa, de Ingeniería o de Tecnologías de Información?</h1>
                        <br>
                        <br>
                        <div class="col-lg-8 offset-2">
                            <p class="parrafo-principal">En esta Master class podrás contar con una<strong> GUÍA</strong> del proyecto para su transformación. Además, contarás con el <strong>ANÁLISIS</strong> de procesos, selección de <strong>TECNOLOGÍAS</strong> y su <strong>ESTRATEGIA</strong> para implementarla.</p>
                        </div>
                    </div>
                </div>
                <div class="row master-class">
                    <div class="col-lg-4"></div>
                    <div class="col-lg-6">
                        <img src="../../../assets/img/Logo masterClass.png" alt="master class">
                        <br>
                        <br>
                        <div>
                            <h6 style="font-weight: 600; font-size: 25px;">TRANSFORMACIÓN</h6>
                            <H1 class="interlineado-banner" style="font-weight: 700; font-size: 60px;">DIGITAL</H1>
                        </div>
                            <p style="font-weight: 400;">Impartida por el Mtro. Rosalino Zamorano</p>
                            <p class="zoom-banner">Martes 8 de Junio</p>
                            <p class="zoom-banner zoom">Vía ZOOM</p>
                            <div class="btn btn-primary btn-block btn-banner">Registrarme ahora</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fin de banner principl -->

<!-- Inicio de seccion de Impartido por Mtro Rosalino Zamorano -->  

      <div class="section fondo-s1 mb-4">
          <div class="row">
              <h1 class="text-center mt-4 titulo-maestro">Impartido por <br> Mtro Rosalino Zamorano</h1>
          </div>

          <div class="container">
              <div class="row">
                <div class="col-lg-4">
                    <div class="card text-center">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="image-icon">
                                <img src="../../../assets/img/Estrella.png" alt="estrella">
                            </div>
                          <p class="card-text">Amplia experiencia como Director de Tecnologías de la Información</p>                         
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <ul class="felchas">
                        <li>Administración de servicios de TI, recursos informaticos y contratos de servicios en sede principal y 5 subsedes (INTRANET)</li>
                        <li>Consolidación de implementación del ERP BAAN V</li>
                        <li>Diseño y construcción de los MOF´s de la INTRANET</li>
                        <li>Migración de operaciones crítica de Data Center Comercial</li>
                    </ul>                    
                </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                <div class="col-lg-4">                    
                    <div class="card text-center h-100">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="image-icon">
                                <img src="../../../assets/img/Estrella.png" alt="estrella">
                            </div>
                          <p class="card-text">Ingeniero en proyectos de Implementación de ERP BAAN V y diseño e implementación de red de comunicaciones y telecomunicaciones CIDESI.</p>                         
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">                   
                    <div class="card h-100">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                          <div class="image-icon">
                              <img src="../../../assets/img/Estrella.png" alt="estrella">
                          </div>
                          <ul class="puntos">
                            <li><span>Gerente de cómputo y comunicaciones</span></li>
                            <li><span>Gerente de desarrollo de Software</span></li>
                            <li><span>Desarrollador de Sistemas</span></li>
                            <li><span>Administrador de redes y Equipos de Cómputo</span></li>
                        </ul> 
                        </div>
                      </div>
                </div>
              </div>            
          </div>
      </div>
<!-- Finalización de seccion Impartido por Mtro Rosalino Zamorano -->

<!-- Inicio de seccion Evento Gratuito -->
      <div class="section">
          <div class="row">
              <div class="col-lg-4 offset-4">
                  <h3 class="text-center" style="color: #1EBA88;"><strong>Evento gratuito</strong> dirigido a profesionales de la industria</h3>
              </div>
              <div class="row" style="padding: 30px;">
                  <div class="col-lg-4">
                     <ul class="vertical-i">
                        <li>"Nuestro mercado es global pero nuestra competencia esta de ese tamaño"</li>
                    </ul>  
                  </div>
                  <div class="col-lg-4">
                    <ul class="vertical-i">
                        <li>"Agilidad en los procesos, ventaja competitiva en desarrollo de productos y eficiente aplicación de los recursos con mejor R04"</li>
                    </ul>                      
                  </div>
                  <div class="col-lg-4">
                    <ul class="vertical-i">
                        <li>"La Transformación Digital provoca que todo sea mas raido y eficiente"</li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
<!-- Finalización de seccion Evento Gratuito -->

<!-- Inicio de la Transformación Digital -->
      <div class="section fondo-s1">
          <div class="row">
              <div class="col-lg-6">
                <div class="container">
                    <h2 class="text-center"><strong>La Transformación Digital provoca que todo sea más rápido y eficiente</strong></h2>
                    <br>
                    <br>
                    <h5 class="text-center">"La capacidad de adaptarse a la nueva realidad es la clave de la Transformación Digital"</h5>
                    <br>
                    <br>
                    <div class="marco-youtube">
                        <div class="div_contenedor">
                            <iframe width="838" height="470" src="https://www.youtube.com/embed/yvXJJX1Jaow" title="YouTube video player" frameborder="0"></iframe>
                        </div>
                    </div>                     
                    <div class="container">
                        <div class="offset-1">
                            <h5 style="color: #1EBA88; font-weight: 600;">Descubre entre otros temas: </h5>
                            <br>
                        </div>
                        <ul class="interlineado">
                            <li class="i1"><span >Estrategia</span></li>
                            <li class="i2"><span >Selección de Tecnologías</span></li>
                            <li class="i3"><span >Análisis de procesos de la industria 4.0</span></li>
                            <li class="i4"><span >Hoja de ruta para una implementación exitosa</span></li>
                            <li class="i5"><span >Que hacer para obtener el máximo aprovechamiento</span></li>
                        </ul>
                    </div>
                </div>
<!-- Finalización de la Transformación Digital -->

<!-- Inicio de Formulario -->
            </div>
              <div class="col-lg-5 offset-1">
                <div class="card shadow-sm p-3 mb-5 card-forma">
                    <div class="text-center mt-5" >
                        <h4 class="titulo-form">No pierdas la oportunidad</h4>
                        <h4 class="titulo-form">¡Regístrate ahora!</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder=" ">
                          </div>

                          <div class="mb-3">
                            <label for="apellido" class="form-label">Apellido</label>
                            <input type="text" class="form-control" id="apellido" placeholder=" ">
                          </div>

                          <div class="mb-3">
                            <label for="tel" class="form-label">Telefono o Cel</label>
                            <input type="text" class="form-control" id="tel" placeholder=" ">
                          </div>

                          <div class="mb-3">
                            <label for="empresa" class="form-label">Empresa</label>
                            <input type="text" class="form-control" id="empresa" placeholder=" ">
                          </div>

                          <div class="mb-3">
                            <label for="cargo" class="form-label">Cargo</label>
                            <input type="text" class="form-control" id="cargo" placeholder=" ">
                          </div>

                          <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder=" ">
                          </div>

                          <div class="mb-3">
                            <label for="select" class="form-label">Entidad Federativa</label>
                            <select id="select" class="form-select fondo-select">
                              <option>Durango</option>
                              <option>Nuevo León</option>
                              <option>CDMX</option>
                              <option>Sinaloa</option>
                            </select>
                          </div>
                            <div class="col-lg-3 offset-5">
                                <div class="btn btn-primary btn-block boton-form">Registrarse</div>
                            </div>  
                    </div>
                </div>

              </div>
            </div>
<!-- FInalización de Formulario -->

    </div>

<!-- Componente de Footer -->

          <app-footer></app-footer>
