<div class="container-fluid p-5 bg-dark">
    <div class="row targeta" style="margin-left: 30px;">
        <div class="col-lg-4 offset-4 mb-3">
          <div class="card">
            <img src="../../../assets/img/vision.png" style="width: block; height: 150px;" class="card-img-top" alt="...">
            <div class="card-body">
                <span class="card-title" style="color: rgba(0, 26, 255, 0.801);"><strong>NOMBRE:</strong></span><br>
                <div class="col">
                    <p class="texto">Powerstates: </p>
                </div>
                <div class="col">
                    <p class="texto">Appearance: </p>
                </div>
                <div class="col">
                    <p class="texto">Biography: </p>
                </div>
                <div class="col">
                    <p class="texto">Connections: </p>
                </div>
                <br>
                <a routerLink = '/buscar-superheroe' class="btn btn-success btn-block" target="_blanck" style="width: 100%;">Buscar Otro</a>
            </div>
          </div>
        </div>
    </div>
</div>
